<section class="feature">
  <% if (typeof data.goals !== 'undefined' && data.goals.length > 0) { %>
  <% const overviewPath = `${config.baseDir}/src/layout/overview/index.ejs`; %>
  <!-- Include Overview -->
  <%- include(overviewPath, {
      config,
      data
    }) %>
  <% } %>

  <!-- Component Area -->
  <div class="component">
    <div class="tab tab--effect">
      <!-- Tab links -->
      <% if (typeof data.items !== 'undefined' && data.items.length > 0) { %>
      <div class="tab-list">
        <% data.items.forEach(item => { %>
        <button class="tab-item tab-item--<%= item.color %>"></button>
        <% }) %>
      </div>
      <!-- Tab content -->
      <% data.items.forEach(item => { %>
      <div class="tab-content">
        <img class="tab-img" src="/assets/images/tab/<%= item.imageSrc %>" />
      </div>
      <% }) %>
      <% } %>
    </div>
  </div>
</section>
