@import '../../../../common/scss/abstracts/variables';
@import '../../../../common/scss/mixins/conversion';

.component .accordion {
  :is(&--toggle) {
    background-color: #000;
    padding: 60px 0;

    .accordion {
      &-display__mo {
        display: none !important;
      }

      &-inner {
        width: 988px;
      }

      &-headline {
        font-size: 40px;
        line-height: 1.3;
        color: #fff;
      }

      &-textbox {
        &__column {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: row;
          margin: 0 auto;
        }

        &__vertical {
          order: 2;
          width: 400px;
        }
      }

      &-description {
        margin-top: 23px;
        font-size: 18px;
        line-height: 1.35;
        color: #fff;
      }

      &-image {
        order: 1;
        position: relative;
        width: 484px;
        height: 560px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-wrap {
        margin-top: 75px;
      }

      &-item {
        padding: 0 0 17px;
        border-radius: 10px;
        background-color: #303035;

        & + .accordion-item {
          position: relative;
          margin-top: -23px;
        }

        &:nth-child(2) {
          background-color: #1f1f26;
        }

        &:nth-child(3) {
          background-color: #181818;
        }

        &.is-open {
          padding-bottom: 0;

          .accordion-title__arrow::after {
            transform: rotate(180deg) translate(0, 50%);
          }
          .accordion__content {
            box-sizing: content-box;
            &-wrap {
              transition: height 0.3s ease-in 0s;
            }
          }
        }
      }

      &-title {
        font-size: 18px;
        line-height: 1.3125;
        color: #fff;

        &__wrap {
          position: relative;
          display: flex;
          align-items: center;
          min-height: 72px;
          padding: 24px 81px 24px 25px;
        }

        &__arrow {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 36px;
          height: 36px;
          text-align: inherit;
          background-color: transparent;
          cursor: pointer;
        }

        &__arrow::after {
          content: '';
          position: absolute;
          transform: translate(0, -50%);
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: transform 0.3s ease-in-out;
          background: url(/assets/images/accordion/accordion-arrow-white.svg) no-repeat center;
          background-size: auto;
        }
      }

      &-content {
        padding: 0 16px 35px;

        &__wrap {
          overflow: hidden;
          height: 0;
          transition: height 0.3s ease-in 0s;
        }

        &__image {
          position: relative;
          margin-bottom: 28px;
          width: 352px;
          height: 352px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &-description {
        font-size: 14px;
        line-height: 1.35;
        color: #fff;
      }
    }
  }
}

@include mobile {
  .component .accordion {
    :is(&--toggle) {
      @include vw-mo(padding, 80 24);

      .accordion {
        &-display__pc {
          display: none !important;
        }

        &-display__mo {
          display: block !important;
        }

        &-inner {
          @include vw-mo(width, 624);
        }

        &-headline {
          order: 0;
          @include vw-mo(font-size, 72);
        }

        &-textbox {
          margin-top: 30px;
          &__column {
            display: flex;
            flex-direction: column;
          }
          &__vertical {
            width: 100%;
          }
        }

        &-image {
          @include vw-mo(margin-top, 48);
          @include vw-mo(width, 624);
          @include vw-mo(height, 634);
        }

        &-description {
          @include vw-mo(font-size, 28);
        }

        &-item {
          @include vw-mo(padding, 0 0 33);
          @include vw-mo(border-radius, 20);

          & + .accordion-item {
            @include vw-mo(margin-top, -33);
          }
        }

        &-title {
          @include vw-mo(font-size, 32);
          line-height: 1.33;

          &__wrap {
            @include vw-mo(min-height, 152);
            @include vw-mo(padding, 34 144 34 40);
          }

          &__arrow {
            @include vw-mo(right, 70);
          }

          &__arrow::after {
            @include vw-mo(width, 72);
            @include vw-mo(height, 72);
          }
        }

        &-content {
          @include vw-mo(padding, 0 50 60);
          &__image {
            @include vw-mo(width, 514);
            @include vw-mo(height, 514);
            @include vw-mo(margin, 0 0 56);

            img {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        &-description {
          @include vw-pc(font-size, 28);
        }
      }
    }
  }
}
