@import '../../../common/scss/abstracts/variables';
@import '../../../common/scss/mixins/conversion';

.component .treeview {
  :is(&--basic) .treeview {
    position: relative;
    margin: 0 20px;

    .treeview {
      &-btns {
        margin-bottom: 20px;

        &__btn {
          padding: 4px 10px;
          border: 1px solid $color-gray-level3;
        }
      }

      &-caret {
        & > span {
          cursor: pointer;
          user-select: none;
        }

        /* Hide the nested list */
        .treeview {
          &-nested {
            display: none;
            padding-inline-start: 24px;
          }
        }

        &.active {
          /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
          &::before {
            transform: rotate(90deg);
          }

          & > .treeview-nested {
            display: block;
          }
        }

        &::before {
          content: '\25B6';
          color: black;
          display: inline-block;
          margin-right: 6px;
        }
      }
    }
  }
}
