<section class="feature">
  <% if (typeof data.goals !== 'undefined' && data.goals.length > 0) { %>
  <% const overviewPath = `${config.baseDir}/src/layout/overview/index.ejs`; %>
  <!-- Include Overview -->
  <%- include(overviewPath, {
      config,
      data
    }) %>
  <% } %>

  <!-- Component Area -->
  <div class="component">
    <div class="tab tab--basic">
      <!-- Tab links -->
      <div class="tab-list">
        <button class="tab-item">London</button>
        <button class="tab-item">Paris</button>
        <button class="tab-item">Tokyo</button>
      </div>
      <!-- Tab content -->
      <div id="london" class="tab-content">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
      </div>
      <div id="paris" class="tab-content">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
      </div>
      <div id="tokyo" class="tab-content">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
      </div>
    </div>
</section>
