<section class="feature">
  <% if (typeof data.goals !== 'undefined' && data.goals.length > 0) { %>
  <% const overviewPath = `${config.baseDir}/src/layout/overview/index.ejs`; %>
  <!-- Include Overview -->
  <%- include(overviewPath, {
      config,
      data
    }) %>
  <% } %>

  <!-- Component Area -->
  <div class="component">
    <div class="tab tab--slider">
      <!-- Tab links -->
      <% if (typeof data.items !== 'undefined' && data.items.length > 0) { %>
      <ul class="tab-list">
        <% data.items.forEach(item => { %>
        <li><button class="tab-item"><%= item.color %></button></li>
        <% }) %>
      </ul>
      <!-- Tab content -->
      <div class="tab-content">
        <div class="tab-band band">
          <div class="band-wrap js-band-wrap">
            <% data.items.forEach(item => { %>
            <img class="band-img" src="/assets/images/<%- item.imageSrc %>" />
            <% }) %>
          </div>
        </div>
        <div class="tab-screen">
          <img class="tab-screen__img" src="/assets/images/<%- data.imageSrc %>" />
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
