$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$color-gray-level1: #19191b;
$color-gray-level2: #262628;
$color-gray-level3: #323235; // main color
$color-gray-level4: #3e3e42;
$color-gray-level5: #4b4b4f;

$color-yellow-level1: #f8b600;
$color-yellow-level2: #ffc013;
$color-yellow-level3: #ffc72c; // main color
$color-yellow-level4: #ffce46;
$color-yellow-level5: #ffd55f;

$color-green-level1: #477e58;
$color-green-level2: #518e64;
$color-green-level3: #5a9e6f; // main color
$color-green-level4: #68a97c;
$color-green-level5: #79b28a;

$color-blue-level1: #5ba2cd;
$color-blue-level2: #6eadd3;
$color-blue-level3: #82b8d9; // main color
$color-blue-level4: #96c3df;
$color-blue-level5: #a9cee5;

$color-red-level1: #c82a2a;
$color-red-level2: #d53737;
$color-red-level3: #d94c4c; // main color
$color-red-level4: #dd6161;
$color-red-level5: #e27676;
